<p>Add a reservation!</p>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div> 
        <label for="">Check-In Date</label>
        <input type="date" formControlName="checkInDate">
        <div *ngIf="reservationForm.get('checkInDate')?.invalid && (reservationForm.get('checkInDate')?.dirty || reservationForm.get('checkInDate')?.touched)" style="color: red;">
            check in date is invalid
        </div>
    </div>
    <div> 
        <label for="">Check-Out Date</label>
        <input type="date" formControlName="checkOutDate">
        <div *ngIf="reservationForm.get('checkOutDate')?.invalid && (reservationForm.get('checkOutDate')?.dirty || reservationForm.get('checkOutDate')?.touched)" style="color: red;">
            check out date is invalid
        </div>
    </div>
    <div> 
        <label for="">Guest Name</label>
        <input type="text" formControlName="guestName">
        <div *ngIf="reservationForm.get('guestName')?.invalid && (reservationForm.get('guestName')?.dirty || reservationForm.get('guestName')?.touched)" style="color: red;">
            guestName is invalid
        </div>
    </div>
    <div> 
        <label for="">Email</label>
        <input type="email" formControlName="guestEmail">
        <div *ngIf="reservationForm.get('guestEmail')?.invalid && (reservationForm.get('guestEmail')?.dirty || reservationForm.get('guestEmail')?.touched)" style="color: red;">
            guestEmail is invalid
        </div>
    </div>
    <div> 
        <label for="">Room Number</label>
        <input type="number" formControlName="roomNumber">
        <div *ngIf="reservationForm.get('roomNumber')?.invalid && (reservationForm.get('roomNumber')?.dirty || reservationForm.get('roomNumber')?.touched)" style="color: red;">
            roomNumber is invalid
        </div>
    </div>
    <div>
        <button type="submit" [disabled]="reservationForm.invalid">Add</button>
    </div>

</form>
